/*Pre Definitions*/

*  {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    font-family:'Roboto', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing:antialiazed !important;
}

li {
    list-style: none;
    display: inline-block;
}

a {
    text-decoration:none;
    transition: all 500ms ease-in-out;
}

a:hover,
a:active {
    text-decoration: none;
}

h1,
h2,
h4 {
    font-family:'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

p {
    font-size: 15px;
    line-height: 21px;
}

.btn {
    transition: all 300ms ease-in-out;
    font-weight: 500 !important;
    text-transform:uppercase;   
}
.btn i  {
    margin-right:5px;
}

.btn-primary {
    background-color:#FFB700; /* Primary Color */
    color:white;
    border:none;
}

.btn-lg.round {
	border-radius: 24px;    
}


.btn-secondary {
    background-color:#1F1F1F; /* Secondary Color */
    color:white;
    border:none;
}

.btn:hover {
    background-color: #ededed !important;
    color: #3c3c3c !important;
    border: 1px solid #fff !important;
}


/*My Styles*/

.social-top {
    padding: 5px 0;
    background-color:#242424;
    color:white;    
    font-family:'Roboto', sans-serif;
}

.social-top i {
    margin-right: 5px;
}

.social-top .fa-twitter, .fa-envelope, .fa-phone {
    color:#FFB700;
}

.social-top ul {
    margin: 0px;
}

.social-top li {
    margin:0 10px;
}

.logo {
    background-color:white;
     
}

.logo img {    
    height:100px;
}


/*Custom Bootstrap*/

.navbar {
    background-color: #FDFDFD;
    border:none !important;
    text-transform: uppercase;
    font-weight: 700;
}

.navbar a {
    color:#fff;
    opacity: 0.7;
}

.navbar a:hover {
    opacity:1;
    background-color:#111111 !important;
}

.navbar-header a {
    padding:0 15px;
    line-height:80px;    
}


.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar .btn {
    background-color:#FFB700;
    color:white;
}

.header .container-fluid {
    padding:0px;
}
.jumbotron {
    background-image: url("../img/header-bg.jpg");
    color:white;
    background-attachment: fixed;
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;
    padding: 30px 0 30px;
    width:100%;
    margin-top:0px;
    margin-bottom: 8px;    
    border-radius: 0px !important;
    text-shadow: black 0.3em 0.3em 0.3em;   
}

.jumbotron h1 {    
    font-size:80px;
}

.jumbotron h1 .dot {
    font-size:200px;
    color:#FFB700;
}

.jumbotron p {
    font-size: 15px;
    
}

.jumbotron .btn { text-shadow:none;}

