/*Pre Definitions*/

*  {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    font-family:'Roboto', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing:antialiazed !important;
}

li {
    list-style: none;
    display: inline-block;
}

a {
    text-decoration:none;
    transition: all 500ms ease-in-out;
}

a:hover,
a:active {
    text-decoration: none;
}

h1,
h2,
h4 {
    font-family:'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

p {
    font-size: 15px;
    line-height: 21px;
}

.btn {
    transition: all 300ms ease-in-out;
    font-weight: 500 !important;
    text-transform:uppercase;
}

.btn:hover {
    background-color: #ededed !important;
    color: #3c3c3c !important;
    border: 1px solid #fff !important;
}


/*My Styles*/

.social-top {
    padding: 5px 0;
    background-color:#242424;
    color:white;    
    font-family:'Roboto', sans-serif;
}

.social-top i {
    margin-right: 5px;
}

.social-top .fa-twitter, .fa-envelope, .fa-phone {
    color:#FFB700;
}

.social-top ul {
    margin: 0px;
}

.social-top li {
    margin:0 10px;
}

.logo {
    background-color:white;
     
}

.logo img {    
    height:100px;
}


/*Custom Bootstrap*/

.navbar {
    background-color: #FDFDFD;
    border:none;
}

.navbar-header a {
    padding:0 15px;
    line-height:80px;    
}


.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar .btn {
    background-color:#FFB700;
    color:white;
}

